article .header {
  color: #000;
  font-size: 56px;
  display: block;
  width: 100%;
}

article .header.small {
  font-size: 48px;
}

article .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 80px 100px;
  gap: 10vh 10vw;
}

article .container.narrow {
  max-width: 800px;
}

@media only screen and (max-width: 700px) {
  article .container {
    margin: 0 7vw 50px;
  }
}

article .container .main-article {
  display: block;
  flex: 1 1 500px;
  max-width: 100%;
}

article .container .main-article p {
  margin: 1rem 0;
}

article .container .sidebar {
  display: block;
  box-sizing: content-box;
  flex: 1 0 200px;
  padding: calc(1rem - 4px) 0;
}

article .container .sidebar .sidebar-header {
  font-size: 24px;
  padding: 0 0 1rem 0;
  box-sizing: border-box;
  color: #000;
}

article .container .sidebar .links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 300px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  article .container .sidebar .links {
    max-width: 100%;
  }
}

article .container .sidebar .links a {
  flex: 1 0 200px;
  margin: 1rem 0;
  color: #000;
  text-decoration: none;
}

article .container .sidebar .links a:hover,
article .container .sidebar .links a.selected {
  color: #2672fe;
}
