html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.08em;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.button {
  min-width: 64px;
  border-radius: 15px;
  padding: 6px 24px 8px 24px;
  color: #1c1c1c;
  font-size: 18px;
  text-decoration: unset;
  cursor: pointer;
}

.button:hover {
  background: whitesmoke;
}

.raised-button,
.stroked-button > span {
  font-style: normal;
  white-space: nowrap;
}

.button.stroked-button {
  background: transparent;
  border: 2px solid #1c1c1c;
  box-sizing: border-box;
  padding: 4px 2em;
  border-radius: 16px;
}

.button.stroked-button:hover {
  background-color: #e2e2e2;
}

.button.raised-button {
  background: #1652f0;
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 19.5px;
  padding: 5px 2em;
}

.button.raised-button.primary {
  background: #1652f0;
  color: #ffffff;
}

.button.raised-button.secondary {
  background: #1652f0;
  color: #ffffff;
}

.button.raised-button:hover {
  background: #2672fe;
}

mat-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.no-padding {
  padding: 0px;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.49);
  height: 80px;
  z-index: 1;
}

nav .nav-bar {
  margin: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-bar .nav-bar-menu{
  line-height: 2em;
}

nav .nav-bar a {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

nav .nav-bar .button {
  display: inline;
  padding: 5px 1em;
  background: none;
  font-size: 16px;
}

nav .nav-bar .button.raised-button {
  padding: 0.5em 2em;
  border: none;
}
nav .nav-bar .button:not(.raised-button) {
  border-radius: 0;
  margin: 0px 1em;
  padding: 10px 0;
}

nav .nav-bar .button.responsive-button {
  font-size: 25px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

nav .nav-bar .button .child-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  max-width: 250px;
  text-align: left;
  background-color: #fff;
  color: #000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
  padding: 10px 25px;
}

nav .nav-bar .button .child-menu a {
  padding: 5px 0;
  color: #000;
  text-decoration: none;
}

nav .nav-bar .button .child-menu a:hover {
  color: #1652F0;
}

nav div a mat-icon {
  transform: translateY(7px);
}

nav .nav-bar .button:not(.raised-button):not(.responsive-button):hover,
nav .nav-bar .button:not(.raised-button).selected {
  border-bottom: 2px solid #1652F0;
  color: #1652F0;
}

nav .nav-bar .button:not(.raised-button):not(.responsive-button):hover .child-menu{
  display: flex;
}

nav .nav-bar-close-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

nav .nav-bar a.nav-button-popup-close {
  font-size: 25px;
  opacity: 0;
}

@media only screen and (max-width: 750px) {
  nav {
    box-shadow: none;
  }

  nav .nav-bar .button:not(.raised-button) {
    margin: 0px 0px 0px 1em;
  }
  nav .nav-bar .button:not(.raised-button):not(.responsive-button):not(.nav-button-popup-close) {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  nav .nav-bar a.button.raised-button {
    border-radius: 10px;
    padding: 0.8em 1.5em;
  }
  nav .nav-bar .button.responsive-button {
    display: initial;
    visibility: visible;
    position: relative;
    opacity: 1;
  }

  nav .nav-bar .button .child-menu {
    position: relative;
    box-shadow: none;
    display: flex;
  }

  nav .nav-bar.nav-bar-popup .nav-bar-menu:not(.nav-bar-close-menu) {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 80px);
    padding: 10px 30px;
    background-color: #ffffff;
    text-align: left;
  }

  nav .nav-bar.nav-bar-popup .button:not(.raised-button):not(.responsive-button):not(.nav-button-popup-close) {
    display: block;
    visibility: visible;
    position: relative;
    width: 100%;
    margin: 0px;
    opacity: 1;
  }

  nav .nav-bar.nav-bar-popup .button:not(.raised-button):not(.responsive-button):hover, nav .nav-bar.nav-bar-popup a.button:not(.raised-button):not(.responsive-button).selected {
    border: none;
  }

  nav .nav-bar.nav-bar-popup .button.raised-button, nav .nav-bar.nav-bar-popup .button.responsive-button {
    display: none;
  }

  nav .nav-bar.nav-bar-popup .nav-bar-close-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  nav .nav-bar.nav-bar-popup .nav-button-popup-close {
    opacity: 1;
  }
}

.content {
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content section:nth-child(even),
.content section.grey {
  background-color: #f2f2f2;
}

.content section.white {
  background-color: #ffffff;
}

.content section {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.separator {
  display: block;
  margin: 0 auto;
  box-sizing: content-box;
  height: 0;
  border-bottom: 1px solid #dedede;
}

.separator.section-separator {
  width: 100%;
  max-width: 1000px;
}

.content .separator.page-separator {
  width: 100%;
  max-width: 1000px;
}

.content section.parallax {
  min-height: calc(100vh - 80px);
}

.content section.company-parallax {
  background-image: url(./images/company-parallax.jpg);
  background-size: cover;
  background-position: 32% center;
  background-attachment: fixed;
}

.content section.black {
  background-color: #000000;
  color: #ffffff;
}

.content section > div {
  padding: 0 1em;
}

@media only screen and (max-width: 700px) {
  .content section > div {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

.content section .main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 400px;
  max-width: 100%;
}

.content section .list {
  width: 100%;
  max-width: 1000px;
}

.content section.company-parallax .main {
  min-height: auto;
  position: absolute;
  top: 30%;
}

.content section .main h5,
.content section .main h4,
.content section .main h3,
.content section .main h1 {
  font-weight: normal;
  max-width: 816px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
  margin-top: 0;
}

.content section .main h1 {
  font-size: 56px;
}

@media only screen and (max-width: 700px) {
  .content section div h1 {
    font-size: 36px !important;
  }
}

.content section .main h3 {
  font-size: 34px;
}

.content section .main h4 {
  font-size: 28px;
}

.content section .main h5 {
  font-size: 20px;
  color: #878787;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.content section.company-parallax .main h1 {
  max-width: 992px;
  color: #ffffff;
}

.content section .main .btn-get-started {
  margin: 10px 0 20px 0;
}

.content section .main img {
  max-width: 85%;
}

.content section .item {
  --n: 2;
  padding: 80px 10px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(300px, 100% / var(--n)), 1fr)
  );
  grid-template-rows: auto auto auto auto auto;
  max-width: 970px;
}

@media only screen and (max-width: 650px) {
  .content section .item {
    grid-template-columns: auto;
  }
}

.content section .item.item-rtl {
  direction: rtl;
}

.content section .item.contact-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15vh 10px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(300px, 100% / var(--n)), 1fr)
  );
  grid-template-rows: repeat(
    auto-fill,
    minmax(max(100px, 100% / var(--n)), 1fr)
  );
}

.content section .item h1 {
  font-size: 48px;
}

.content section .item h5 {
  font-size: 16px;
}

.content section .item h5,
.content section .item h1 {
  font-weight: normal;
  max-width: 500px;
  text-align: left;
  line-height: 1.2;
  margin: 1rem 0;
}

.content section .item .col {
  direction: ltr;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: left;
  padding: 0 1em;
}

.content section .item.contact-item .col {
  flex-direction: column;
  padding: 0 15% 2em 1em;
  font-size: 20px;
  color: #878787;
}

.content section .item.contact-item .col h1,
.content section .item.contact-item .col h4 {
  color: #000000;
  padding-bottom: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.content section .item.contact-item .col h1 {
  font-size: 56px;
}

.content section .item .col.left {
  grid-column: 1;
}

.content section .item .col.right {
  grid-column: 2;
}

.content section .item .col.full-height {
  grid-row: 1/-1;
  padding-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .content section .item .col.full-height {
    grid-row: -1;
    padding-top: 2em;
  }
}

.content section .item .col.full-width {
  grid-column: 1/-1;
}

.content section .item .col.align-center {
  justify-content: center;
}

.content section .item .col img {
  max-width: 80%;
  min-height: 80%;
}

@media only screen and (max-width: 650px) {
  .content section .item .col img {
    max-width: 100%;
    min-height: 100%;
  }
}

.content section .item .description-item {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #000000;
}

.content section .partners {
  margin-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 3em 10%;
}

.content section .partners > div {
  display: block;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.content section .career {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a .icon {
  font-size: 24px;
  height: 1em;
  width: 1em;
  line-height: 1em;
  fill: #888e9a;
}

.social-media a .icon:hover {
  fill: #007bff;
}

.footer {
  padding: 0 80px;
}

.footer footer {
  width: 100%;
  display: grid;
  grid-template-columns: 28% calc(44% - 4em) 28%;
  padding: 80px 0 20px;
  gap: 30px 2em;
}

.footer footer .middle {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

@media only screen and (max-width: 900px) {
  .footer {
    padding: 0 7vw;
  }
  .footer footer {
    grid-template-columns: auto;
  }
  .footer footer .middle {
    grid-row: 3;
  }
  .footer footer .right,
  .footer footer .left {
    grid-column: 1;
  }
  
  .footer footer .social {
    grid-row: 2;
  }

  .footer footer .social b {
    display: none;
  }

  .footer footer .copyright {
    order: 9;
  }

  .footer footer .policy {
    padding-top: 20vh;
  }
}

.footer footer .logo-text {
  background-image: url(./images/hyperhaul-name-blue.svg);
  display: block;
  width: 80%;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer footer .links-vertical {
  display: flex;
  flex-direction: column;
}

.footer footer .links-vertical a {
  padding: 0 0 10px;
  text-decoration: none;
  color: inherit;
}

.footer footer .links-vertical a:hover {
  color: #1652f0;
}

.footer footer .links-vertical b {
  padding: 0 0 15px;
}

.footer footer .links-horizontal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
}

.footer footer .links-horizontal a {
  padding-right: 1em;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.footer footer .links-horizontal a:hover {
  color: #1652f0;
}

@media only screen and (max-width: 900px) {
  .footer footer .links-horizontal {
    display: block;
  }
}

.align-right {
  text-align: right;
}

.google-play-button {
  width: 250px;
  transform: translateX(-10px);
}